In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

#This is to clean up the text data and make it consistent
def refer_func(x):
    if 'search' in x:
        return 'search'
    elif 'message' in x:
        return 'message'
    elif 'tutorial' in x:
        return 'tutorialcomplete'
    elif 'course' in x:
        return 'coursecomplete'
    elif 'experiment' in x:
        return 'experimentStart'
    else:
        return x
    
df_data = pd.read_csv('geordi-1-5-17.csv',low_memory=False)
df_data.head(5)

,id,time,browserTime,userID,type,subjectID,relatedID,projectToken,data,sessionNumber,eventNumber,serverURL,experiment,cohort,errorCode,errorDescription,userSeq,clientIP,userAgent
0,8849539,6/8/2016 10:29,6/8/2016 10:29,149,project-menu,2139653.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",1,3,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,3,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
1,8849540,6/8/2016 10:29,6/8/2016 10:29,149,talk-view,NaN,NaN,zooniverse/gravity-spy,NaN,1,4,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,4,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
2,8849565,6/8/2016 11:31,6/8/2016 11:31,149,talk-view,NaN,NaN,zooniverse/gravity-spy,"{""board"":""Notes""}",2,1,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,5,94.119.66.43,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
3,8861432,6/14/2016 14:50,6/14/2016 14:50,149,talk-view,NaN,NaN,zooniverse/gravity-spy,NaN,3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
4,8861433,6/14/2016 14:50,6/14/2016 14:50,149,project-menu,2180197.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...

In [2]:
df_data['type'] = pd.Series(df_data['type'], dtype="string")
df_data['data'] = pd.Series(df_data['data'], dtype="string")


def replace_NA (x):
    if type(x) is not str:
        return ''
    else:
        return x
    
#Concatenating type and data
df_data['data'] = df_data['data'].apply(lambda x: replace_NA(x))
df_data['concat'] = df_data['type'] + ' ' + df_data['data']
df_data.head(10)

,id,time,browserTime,userID,type,subjectID,relatedID,projectToken,data,sessionNumber,eventNumber,serverURL,experiment,cohort,errorCode,errorDescription,userSeq,clientIP,userAgent,concat
0,8849539,6/8/2016 10:29,6/8/2016 10:29,149,project-menu,2139653.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",1,3,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,3,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.talk"""
1,8849540,6/8/2016 10:29,6/8/2016 10:29,149,talk-view,NaN,NaN,zooniverse/gravity-spy,,1,4,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,4,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,talk-view
2,8849565,6/8/2016 11:31,6/8/2016 11:31,149,talk-view,NaN,NaN,zooniverse/gravity-spy,"{""board"":""Notes""}",2,1,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,5,94.119.66.43,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"talk-view {""board"":""Notes""}"
3,8861432,6/14/2016 14:50,6/14/2016 14:50,149,talk-view,NaN,NaN,zooniverse/gravity-spy,,3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,talk-view
4,8861433,6/14/2016 14:50,6/14/2016 14:50,149,project-menu,2180197.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.talk"""
5,8861437,6/14/2016 14:50,6/14/2016 14:50,149,top-menu,NaN,NaN,zooniverse/gravity-spy,"""mainNav.talk""",3,2,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,7,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"top-menu ""mainNav.talk"""
6,8861447,6/14/2016 14:52,6/14/2016 14:52,149,project-menu,NaN,NaN,zooniverse/gravity-spy,"""project.nav.classify""",3,5,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,10,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.classify"""
7,8861455,6/14/2016 14:53,6/14/2016 14:53,149,project-menu,2180197.0,NaN,zooniverse/gravity-spy,"""project.nav.about""",3,6,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,11,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.about"""
8,8861457,6/14/2016 14:53,6/14/2016 14:53,149,top-menu,NaN,NaN,zooniverse/gravity-spy,"""mainNav.projects""",3,7,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,12,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"top-menu ""mainNav.projects"""
9,8909353,6/30/2016 15:42,6/30/2016 15:42,(anonymous),open-field-guide,2203601.0,NaN,zooniverse/gravity-spy,,1,1,https://www.zooniverse.org,NaN,NaN,NaN,NaN,1,178.85.4.23,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,open-field-guide

In [3]:
df_data = df_data.iloc[:,[3,1,-1,9]]
df_data.head()

  userID             time                           concat  sessionNumber
0    149   6/8/2016 10:29  project-menu "project.nav.talk"              1
1    149   6/8/2016 10:29                       talk-view               1
2    149   6/8/2016 11:31      talk-view {"board":"Notes"}              2
3    149  6/14/2016 14:50                       talk-view               3
4    149  6/14/2016 14:50  project-menu "project.nav.talk"              3

In [4]:
df_data['event'] = df_data['concat'].apply(lambda x: refer_func(x))
df_data = df_data.iloc[:,[0,1,3,4]]
df_data.head(10)

,userID,time,sessionNumber,event
0,149,6/8/2016 10:29,1,"project-menu ""project.nav.talk"""
1,149,6/8/2016 10:29,1,talk-view
2,149,6/8/2016 11:31,2,"talk-view {""board"":""Notes""}"
3,149,6/14/2016 14:50,3,talk-view
4,149,6/14/2016 14:50,3,"project-menu ""project.nav.talk"""
5,149,6/14/2016 14:50,3,"top-menu ""mainNav.talk"""
6,149,6/14/2016 14:52,3,"project-menu ""project.nav.classify"""
7,149,6/14/2016 14:53,3,"project-menu ""project.nav.about"""
8,149,6/14/2016 14:53,3,"top-menu ""mainNav.projects"""
9,(anonymous),6/30/2016 15:42,1,open-field-guide

In [5]:
#TramineR works best when we remove dash(-)
def removehdash(x):
    x = str(x)
    if '-' in x:
        return re.sub('-', '', x)
    else:
        return x

In [6]:
df_data = df_data[df_data['userID'] != '(anonymous)']
df_data['event'] = df_data['event'].apply(lambda x: removehdash(x))
df_data['event'] = df_data['event'].astype('string')

In [7]:
df_data.reset_index(drop = True, inplace = True)
df_data['userID'] = pd.to_numeric(df_data['userID'], downcast = 'integer')

In [8]:
df_data

,userID,time,sessionNumber,event
0,149,6/8/2016 10:29,1,"projectmenu ""project.nav.talk"""
1,149,6/8/2016 10:29,1,talkview
2,149,6/8/2016 11:31,2,"talkview {""board"":""Notes""}"
3,149,6/14/2016 14:50,3,talkview
4,149,6/14/2016 14:50,3,"projectmenu ""project.nav.talk"""
...,...,...,...,...
891827,1551090,12/15/2016 18:03,3,classificationStart
891828,1551090,12/15/2016 18:03,3,classificationStart
891829,1551302,12/15/2016 18:03,2,classificationStart
891830,1551090,12/15/2016 18:03,3,classificationStart
891831,2274,12/15/2016 18:03,199,classificationStart

# Create Meta Labels

In [9]:
df_meta_activity = pd.read_excel('MetaActivity.csv.xlsx')
#df_meta_activity = df_meta_activity.iloc[:,[1,3]]

def create_meta_labels(x):
    flag = False
    for event in range(len(df_meta_activity['Geordi_name'].values)):
        if df_meta_activity['Geordi_name'].values[event] in x:
            return df_meta_activity.iloc[event,1]
    if (flag == False):
        return x
    
df_data['event'] = df_data['event'].apply(lambda x: create_meta_labels(x))

# Include Promotion timestamps for all users

In [10]:
df_promotion = pd.read_csv('user_promotion.csv')
df_promotion['time'] = pd.to_datetime(df_promotion['Date'])
df_promotion = df_promotion.iloc[:,[1,2,4]]
def workflow_update(x):
    return "promotion_" + "level_" + x[0]
df_promotion['workflow_name'] = df_promotion['workflow_name'].apply(lambda x: workflow_update(x))
df_promotion.columns = ['userID','event', 'time']
df_promotion['userID'] = pd.to_numeric(df_promotion['userID'], downcast = 'integer')

df_data = pd.concat([df_data, df_promotion], ignore_index=True)

In [11]:
users = list(set(df_data['userID'].values))

In [12]:
df_data

         userID                 time  sessionNumber              event
0           149       6/8/2016 10:29            1.0           communal
1           149       6/8/2016 10:29            1.0    viewdiscussions
2           149       6/8/2016 11:31            2.0    viewdiscussions
3           149      6/14/2016 14:50            3.0    viewdiscussions
4           149      6/14/2016 14:50            3.0           communal
...         ...                  ...            ...                ...
907219  1548965  2016-12-30 00:55:00            NaN  promotion_level_3
907220  1556055  2017-01-13 04:39:00            NaN  promotion_level_1
907221  1575355  2017-02-18 18:34:00            NaN  promotion_level_1
907222  1575355  2017-02-18 18:39:00            NaN  promotion_level_2
907223  1575355  2017-02-18 21:15:00            NaN  promotion_level_3

[907224 rows x 4 columns]

In [13]:
df_data = df_data[df_data['event'] != 'promotion_level_1']
df_data['sessionNumber'] = 0

# Assign Session numbers for each activity. Assign a new session number if inactivity time > 30 minutes

In [14]:
for user in users:
    count = 1
    df_user = df_data[df_data['userID'] == user]
    df_user['time'] = pd.to_datetime(df_user['time']).values
    df_user.sort_values(by='time',inplace = True)
    df_user.reset_index(drop = False, inplace = True)
    for i in range(len(df_user)):
        if i == 0:
            df_user.iloc[i,3] = 1
            df_data.loc[df_user['index'].values[i], 'sessionNumber'] = 1
            continue
        else:
            cure_time = df_user.iloc[i,2]
            previ_time = df_user.iloc[i-1,2]
            timedelta = cure_time - previ_time
            if (timedelta.total_seconds())/60 > 30:
                count += 1
                df_user.iloc[i,3] = count
                df_data.loc[df_user['index'].values[i], 'sessionNumber'] = count
            else:
                df_user.iloc[i,3] = count
                df_data.loc[df_user['index'].values[i], 'sessionNumber'] = count

In [15]:
df_data

         userID                 time  sessionNumber              event
0           149       6/8/2016 10:29              1           communal
1           149       6/8/2016 10:29              1    viewdiscussions
2           149       6/8/2016 11:31              2    viewdiscussions
3           149      6/14/2016 14:50              3    viewdiscussions
4           149      6/14/2016 14:50              3           communal
...         ...                  ...            ...                ...
907216  1575913  2017-02-18 22:41:00              1  promotion_level_4
907218  1548965  2016-12-15 03:10:00              1  promotion_level_2
907219  1548965  2016-12-30 00:55:00              2  promotion_level_3
907222  1575355  2017-02-18 18:39:00              1  promotion_level_2
907223  1575355  2017-02-18 21:15:00              2  promotion_level_3

[899686 rows x 4 columns]

In [16]:
session_nos = list(set(df_data['sessionNumber'].values))

# There are users with just promotion as their activity. No further activity available in the dataset. Let's remove such users

In [17]:
users = list(set(df_data['userID'].values))
users_oneactivity = []
for user in users:
    df_user = df_data[df_data['userID'] == user]
    events = list(set(df_user['event'].values))
    events_promotion = [i for i in events if 'promotion' not in i]
    if 0 == len(events_promotion):
        users_oneactivity.append(user)
df_data = df_data[~df_data['userID'].isin(users_oneactivity)]
df_data.reset_index(drop = True, inplace = True)

In [18]:
df_data

         userID                 time  sessionNumber              event
0           149       6/8/2016 10:29              1           communal
1           149       6/8/2016 10:29              1    viewdiscussions
2           149       6/8/2016 11:31              2    viewdiscussions
3           149      6/14/2016 14:50              3    viewdiscussions
4           149      6/14/2016 14:50              3           communal
...         ...                  ...            ...                ...
895786   231295  2016-11-24 19:54:00              7  promotion_level_4
895787  1473668  2016-09-14 15:44:00              1  promotion_level_2
895788  1473668  2016-10-11 18:54:00              4  promotion_level_3
895789  1548965  2016-12-15 03:10:00              1  promotion_level_2
895790  1548965  2016-12-30 00:55:00              2  promotion_level_3

[895791 rows x 4 columns]

In [19]:
users = [user for user in users if user not in users_oneactivity]

## Store metrics for a given user, such as no. of sessions, session_no etc

In [20]:
#This will store all session numbers for a user
users = list(set(df_data['userID'].values))
users_sessions = {}
for user in users:
    df_user = df_data[df_data['userID'] == user]
    sessions = list(set(df_user['sessionNumber'].values))
    users_sessions[user] = sessions

In [21]:
users_session_df = pd.DataFrame(columns= ['users', 'sessions'])
users_session_df['users'] = list(users_sessions.keys())
users_session_df['sessions'] = list(users_sessions.values())
users_session_df['no_sessions'] = users_session_df['sessions'].apply(lambda x: len(x))
users_session_df.to_csv("Users_Session_Info.csv")

# Below code will calculate the mean and standard deviation of consecutive classifies in a given session

session_metrics = {}
for session in session_nos:  #Iterate through each session
    df_session_temp = df_data[df_data['sessionNumber'] == session]
    df_session_temp.reset_index(drop=True, inplace = True)
    distribution = []
    iter_ = 0
    users_session = list(set(df_session_temp['userID'].values))
    for user in users_session: #go through each user in a given session
        df_session_temp_user = df_session_temp[df_session_temp['userID'] == user]
        df_session_temp_user['time'] = pd.to_datetime(df_session_temp_user['time'])
        df_session_temp_user.sort_values(by='time',inplace = True)
        df_session_temp_user.reset_index(drop=True, inplace = True)
        for event in df_session_temp_user['event'].values:
            if event == 'classify':
                iter_ += 1
            else:
                if iter_ != 0: #We will reach here if classify streak has ended. Thats when you append the count to a container
                    distribution.append(iter_)
                    iter_ *= 0
    if (iter_ != 0):
        distribution.append(iter_)
        iter_ *= 0
    if (len(distribution) == 0): #If a given session has no classifies, then we inut mean and std as zero
        session_metrics[session] = (0,0)
    else:
        session_metrics[session] = (np.mean(distribution), np.std(distribution), np.percentile(distribution, 33), np.percentile(distribution, 66))
        
    if (session == 1):
        distribution_1 = [x for x in distribution]
    elif (session == 2):
        distribution_2 = [x for x in distribution]
    if (session == 3):
        distribution_3 = [x for x in distribution]

# Check out distribution for the first three sessions

import plotly.express as px
fig = px.histogram(pd.DataFrame(data = np.log(distribution_1),columns=['count']), x="count")
fig.show()

fig = px.histogram(pd.DataFrame(data = np.log(distribution_2),columns=['count']), x="count")
fig.show()

fig = px.histogram(pd.DataFrame(data = np.log(distribution_3),columns=['count']), x="count")
fig.show()

In [22]:
#This recursive function will count the number of consecutive classifies in a given series
def classify_counts(list_1,index, count):
    if index < len(list_1):
        if 'classify' in list_1[index]:
            return classify_counts(list_1, index+1, count + 1)
        else:
            return count
    else:
        return count

# This routine will check the length of classifies in the entire dataframe and encapsulate as 'mid-classify', low and high¶
#classify_mid : 4-16 #classify_high : >=17 #classify_low : <4

In [23]:
for user in users:
    wanted_sessions = [1]
    df_data_temp = df_data[df_data['userID'] == user]
    #session_metrics_user = dict((k, session_metrics[k]) for k in wanted_sessions if k in session_metrics)
    for key in wanted_sessions:
        df_data_temp = df_data[(df_data['sessionNumber'] == key) & (df_data['userID'] == user)]
        df_data_temp['time'] = pd.to_datetime(df_data_temp['time']).values
        df_data_temp.sort_values(by = 'time', inplace = True)
        df_data_temp.reset_index(drop = False, inplace = True)
        if len(df_data_temp) != 0:
            length = -10
            break_point = 0
            skip_flag = False
            for i in range(len(df_data_temp['event'].values)):
                if (('classify' in df_data_temp['event'].values[i])  and (skip_flag == False)):
                    break_point = i
                    length = classify_counts(df_data_temp['event'].values, i, 0)
                    #print(length)
                    skip_flag = True
                    if (length == 1):
                        skip_flag = False
                        df_data.iloc[df_data_temp['index'].values[i],3] = 'classify_low'
                    #print(df_data_temp['index'].values[i])
                elif (skip_flag == True):
                    if ( i < break_point+length -1):
                        continue
                    elif ( i == break_point + length -1):
                        if (3 < length) & (length < 17):
                            df_data.iloc[df_data_temp['index'].values[i],3] = 'classify_mid'

                        elif (length > 16):
                            df_data.iloc[df_data_temp['index'].values[i],3] = 'classify_high'

                        else:
                            df_data.iloc[df_data_temp['index'].values[i],3] = 'classify_low'
                        skip_flag = False
                        continue

In [24]:
df_data['time'] = pd.to_datetime(df_data['time']).values

In [25]:
df_data

         userID                time  sessionNumber              event
0           149 2016-06-08 10:29:00              1           communal
1           149 2016-06-08 10:29:00              1    viewdiscussions
2           149 2016-06-08 11:31:00              2    viewdiscussions
3           149 2016-06-14 14:50:00              3    viewdiscussions
4           149 2016-06-14 14:50:00              3           communal
...         ...                 ...            ...                ...
895786   231295 2016-11-24 19:54:00              7  promotion_level_4
895787  1473668 2016-09-14 15:44:00              1  promotion_level_2
895788  1473668 2016-10-11 18:54:00              4  promotion_level_3
895789  1548965 2016-12-15 03:10:00              1  promotion_level_2
895790  1548965 2016-12-30 00:55:00              2  promotion_level_3

[895791 rows x 4 columns]

In [26]:
def reset_classify(x):
    if 'classify ' in x:
        return 'classify'
    elif ' classify' in x:
        return 'classify'
    else:
        return x

In [27]:
df_data['event'] = df_data['event'].apply(lambda x: reset_classify(x))
df_data = df_data[df_data['event'] != 'classify']

In [28]:
#Storing the dataset
df_data.to_csv('User_activities_RowWise.csv')
#df_data = pd.read_csv('User_activities_RowWise.csv')
#df_data['event'] = df_data['event'].astype('string')

df_data = pd.read_csv('User_activities_RowWise.csv')
df_data['event'] = df_data['event'].astype('string')
df_data['time'] = pd.to_datetime(df_data['time']).values
df_data.drop('Unnamed: 0', inplace = True, axis = 1)

In [29]:
def more_changes(activity):
    if (('logout' in activity) or ('login' in activity) or ('discussiontime' in activity) or ('changeprojectsidebar' in activity) or ('closefieldguide' in activity) or ('coursecomplete' in activity) or ('footermenu' in activity) or ('tutorialcomplete' in activity)):
        return 'remove'
    elif (('breadcrumb' in activity) or ('globemenu' in activity)):
        return 'exploring'
    elif ('message' in activity):
        return 'socialize'
    else:
        return activity

In [30]:
df_data['event'] = df_data['event'].apply(lambda x: more_changes(x))

In [35]:
df_data[df_data['userID'] == 884614].sort_values(by = 'time')

        userID                time  sessionNumber              event
325589  884614 2016-10-18 06:40:00              1       classify_low
325590  884614 2016-10-18 06:40:00              1    viewdiscussions
325594  884614 2016-10-18 06:40:00              1          exploring
325596  884614 2016-10-18 06:40:00              1           communal
325626  884614 2016-10-18 06:43:00              1       classify_mid
325641  884614 2016-10-18 06:44:00              1           learning
325640  884614 2016-10-18 06:44:00              1           communal
325638  884614 2016-10-18 06:44:00              1           communal
325635  884614 2016-10-18 06:44:00              1    viewdiscussions
325629  884614 2016-10-18 06:44:00              1       classify_mid
325636  884614 2016-10-18 06:44:00              1       classify_low
325643  884614 2016-10-18 06:45:00              1             remove
893008  884614 2016-10-18 06:46:00              1  promotion_level_2
325651  884614 2016-10-18 06:46:00              1       classify_mid
325754  884614 2016-10-18 06:57:00              1      classify_high
893009  884614 2016-10-18 06:58:00              1  promotion_level_3
325839  884614 2016-10-18 07:05:00              1      classify_high

In [ ]:
df_data

In [ ]:
df_experiment = df_data[df_data['event'].isin(['promotion_level_A', "promotion_level_w","promotion_level_B"])]
users_experiment = set(df_experiment['userID'].values)

In [ ]:
df_experiment

# Create a new Dataframe with each userID as the index and all activies in a single row

In [ ]:
users = list(set(df_data['userID'].values))
max_activity = 0
for user in users:
    df_temp_ = df_data[df_data['userID'] == user]
    if max_activity < len(df_temp_):
        max_activity = len(df_temp_)
max_sequence_length = max_activity + 1862

In [ ]:
columns = []
for i in range(max_sequence_length):
    columns.append(i+1)
df_sequence = pd.DataFrame(data = np.zeros((len(users),max_sequence_length),dtype = np.int8),columns = columns)
df_sequence.head()

In [ ]:
df_sequence['users'] = users
df_sequence.set_index('users', inplace=True)
df_sequence.head()

In [ ]:
for user in users:
    df_user = df_data[df_data['userID'] == user]
    events = []
    sessions_user = list(set(df_user['sessionNumber'].values))
    sessions_user = sorted(sessions_user, reverse = False)
    for session in sessions_user:
        df_user_session = df_user[df_user['sessionNumber'] == session]
        df_user_session['time'] = pd.to_datetime(df_user_session['time']).values
        df_user_session.sort_values(by='time',inplace = True)
        events = events +  list(df_user_session['event'].values) + ['EOS']
    if events != []:
        df_sequence.loc[user,1:len(events)] = events

In [ ]:
df_sequence

In [ ]:
df_data[df_data['userID'] == 884614].sort_values(by = 'time')

In [ ]:
break

In [ ]:
df_sequence.to_csv("UserSequence_Intermediate.csv")

In [ ]:
df_sequence

In [ ]:
#This recursive function will count the number of consecutive communals in a given series
def communal_counts(list_1,index, count):
    if index < len(list_1):
        if 'communal' in list_1[index]:
            return communal_counts(list_1, index+1, count + 1)
        else:
            return count
    else:
        return count

In [ ]:
def discussion_counts(list_1,index, count):
    if index < len(list_1):
        if 'view discussions' in list_1[index]:
            return discussion_counts(list_1, index+1, count + 1)
        else:
            return count
    else:
        return count

In [ ]:
for user in df_sequence.index.values:
    row_previous = list(df_sequence.loc[user,:].values)
    row_previous = [event for event in row_previous if str(event) != "0"]
    start = 1
    while (start < len(row_previous)+1):
        if str(df_sequence.loc[user, start]) == "communal":
            count = communal_counts(row_previous,start, 1)
            if count > 3:
                df_sequence.loc[user, start] = 'communal_high'
            elif(count > 0):
                df_sequence.loc[user, start] = 'communal_normal'
            start += count
        else:
            start+=1

In [ ]:
for user in df_sequence.index.values:
    row_previous = list(df_sequence.loc[user,:].values)
    row_previous = [event for event in row_previous if str(event) != "0"]
    start = 1
    while (start < len(row_previous)+1):
        if str(df_sequence.loc[user, start]) == "viewdiscussions":
            count = discussion_counts(row_previous,start, 1)
            if count > 3:
                df_sequence.loc[user, start] = 'viewdiscussions_high'
            elif(count > 0):
                df_sequence.loc[user, start] = 'viewdiscussions_normal'
            start += count
        else:
            start+=1

In [ ]:
df_sequence

In [ ]:
for user in df_sequence.index.values:
    row_previous_1 = list(df_sequence.loc[user,:].values)
    row_previous = [event for event in row_previous_1 if str(event) != "0"]
    row_after = [event for event in row_previous if str(event) != "communal" and str(event) != 'viewdiscussions']
    diff = len(row_previous) - len(row_after)
    if (diff != 0):
        diff_1 = len(row_previous_1) - len(row_after)
        df_sequence.loc[user,:]= row_after + [0] * diff_1

In [ ]:
df_sequence

In [ ]:
df_sequence = df_sequence.loc[set(df_sequence.index) - users_experiment,]

In [ ]:
df_sequence

In [ ]:
df_sequence.to_csv(r'Final_Sequence_User.csv')

In [ ]:
df_sequence

In [ ]:
df_sequence.columns = [i for i in range(1,12440)]
zero_columns = []
for i in df_sequence.columns:
    if (len(set(df_sequence[i].values)) == 1):
        if (sum(list(set(df_sequence[i].values))) == 0):
            zero_columns.append(int(i))
df_sequence = df_sequence.iloc[:,:zero_columns[0]]

In [ ]:
df_sequence

In [ ]:
df_sequence.to_csv(r'Final_Sequence_User.csv')

In [ ]:
df_sequence