In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

#This is to clean up the text data and make it consistent
def refer_func(x):
    if 'search' in x:
        return 'search'
    elif 'message' in x:
        return 'message'
    elif 'tutorial' in x:
        return 'tutorialcomplete'
    elif 'course' in x:
        return 'coursecomplete'
    elif 'experiment' in x:
        return 'experimentStart'
    else:
        return x
    
df_data = pd.read_csv('geordi-1-5-17.csv',low_memory=False)
df_data.head(5)

,id,time,browserTime,userID,type,subjectID,relatedID,projectToken,data,sessionNumber,eventNumber,serverURL,experiment,cohort,errorCode,errorDescription,userSeq,clientIP,userAgent
0,8849539,6/8/2016 10:29,6/8/2016 10:29,149,project-menu,2139653.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",1,3,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,3,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
1,8849540,6/8/2016 10:29,6/8/2016 10:29,149,talk-view,NaN,NaN,zooniverse/gravity-spy,NaN,1,4,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,4,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
2,8849565,6/8/2016 11:31,6/8/2016 11:31,149,talk-view,NaN,NaN,zooniverse/gravity-spy,"{""board"":""Notes""}",2,1,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,5,94.119.66.43,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
3,8861432,6/14/2016 14:50,6/14/2016 14:50,149,talk-view,NaN,NaN,zooniverse/gravity-spy,NaN,3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
4,8861433,6/14/2016 14:50,6/14/2016 14:50,149,project-menu,2180197.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...

In [2]:
df_data['type'] = pd.Series(df_data['type'], dtype="string")
df_data['data'] = pd.Series(df_data['data'], dtype="string")


def replace_NA (x):
    if type(x) is not str:
        return ''
    else:
        return x
    
#Concatenating type and data
df_data['data'] = df_data['data'].apply(lambda x: replace_NA(x))
df_data['concat'] = df_data['type'] + ' ' + df_data['data']
df_data.head(10)

,id,time,browserTime,userID,type,subjectID,relatedID,projectToken,data,sessionNumber,eventNumber,serverURL,experiment,cohort,errorCode,errorDescription,userSeq,clientIP,userAgent,concat
0,8849539,6/8/2016 10:29,6/8/2016 10:29,149,project-menu,2139653.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",1,3,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,3,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.talk"""
1,8849540,6/8/2016 10:29,6/8/2016 10:29,149,talk-view,NaN,NaN,zooniverse/gravity-spy,,1,4,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,4,94.119.64.244,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,talk-view
2,8849565,6/8/2016 11:31,6/8/2016 11:31,149,talk-view,NaN,NaN,zooniverse/gravity-spy,"{""board"":""Notes""}",2,1,https://geordi-panoptes-client.pfe-preview.zoo...,NaN,NaN,NaN,NaN,5,94.119.66.43,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"talk-view {""board"":""Notes""}"
3,8861432,6/14/2016 14:50,6/14/2016 14:50,149,talk-view,NaN,NaN,zooniverse/gravity-spy,,3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,talk-view
4,8861433,6/14/2016 14:50,6/14/2016 14:50,149,project-menu,2180197.0,NaN,zooniverse/gravity-spy,"""project.nav.talk""",3,1,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,6,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.talk"""
5,8861437,6/14/2016 14:50,6/14/2016 14:50,149,top-menu,NaN,NaN,zooniverse/gravity-spy,"""mainNav.talk""",3,2,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,7,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"top-menu ""mainNav.talk"""
6,8861447,6/14/2016 14:52,6/14/2016 14:52,149,project-menu,NaN,NaN,zooniverse/gravity-spy,"""project.nav.classify""",3,5,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,10,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.classify"""
7,8861455,6/14/2016 14:53,6/14/2016 14:53,149,project-menu,2180197.0,NaN,zooniverse/gravity-spy,"""project.nav.about""",3,6,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,11,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"project-menu ""project.nav.about"""
8,8861457,6/14/2016 14:53,6/14/2016 14:53,149,top-menu,NaN,NaN,zooniverse/gravity-spy,"""mainNav.projects""",3,7,https://geordi-integration.pfe-preview.zoonive...,NaN,NaN,NaN,NaN,12,2.217.47.74,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...,"top-menu ""mainNav.projects"""
9,8909353,6/30/2016 15:42,6/30/2016 15:42,(anonymous),open-field-guide,2203601.0,NaN,zooniverse/gravity-spy,,1,1,https://www.zooniverse.org,NaN,NaN,NaN,NaN,1,178.85.4.23,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,open-field-guide

In [3]:
df_data = df_data.iloc[:,[3,1,-1,9]]
df_data['event'] = df_data['concat'].apply(lambda x: refer_func(x))
df_data = df_data.iloc[:,[0,1,3,4]]

In [4]:
#TramineR works best when we remove dash(-)
def removehdash(x):
    x = str(x)
    if '-' in x:
        return re.sub('-', '', x)
    else:
        return x

In [5]:
df_data = df_data[df_data['userID'] != '(anonymous)']
df_data['event'] = df_data['event'].apply(lambda x: removehdash(x))
df_data['event'] = df_data['event'].astype('string')

df_data.reset_index(drop = True, inplace = True)
df_data['userID'] = pd.to_numeric(df_data['userID'], downcast = 'integer')

# Create Meta Labels

In [6]:
df_meta_activity = pd.read_excel('MetaActivity.csv.xlsx')
#df_meta_activity = df_meta_activity.iloc[:,[1,3]]

def create_meta_labels(x):
    flag = False
    for event in range(len(df_meta_activity['Geordi_name'].values)):
        if df_meta_activity['Geordi_name'].values[event].strip() in x.strip():
            return df_meta_activity.iloc[event,1].strip()
    if (flag == False):
        return x
    
df_data['event'] = df_data['event'].apply(lambda x: create_meta_labels(x))

# Include Promotion timestamps for all users

In [7]:
df_promotion = pd.read_csv('user_promotion.csv')
df_promotion['time'] = pd.to_datetime(df_promotion['Date'])
df_promotion = df_promotion.iloc[:,[1,2,4]]
def workflow_update(x):
    return "promotion_" + "level_" + x[0]
df_promotion['workflow_name'] = df_promotion['workflow_name'].apply(lambda x: workflow_update(x))
df_promotion.columns = ['userID','event', 'time']
df_promotion['userID'] = pd.to_numeric(df_promotion['userID'], downcast = 'integer')

df_data = pd.concat([df_data, df_promotion], ignore_index=True)

users = list(set(df_data['userID'].values))

In [8]:
df_data = df_data[df_data['event'] != 'promotion_level_1']
df_data['sessionNumber'] = 0

# Assign Session numbers for each activity. Assign a new session number if inactivity time > 30 minutes

In [9]:
for user in users:
    count = 1
    df_user = df_data[df_data['userID'] == user]
    df_user['time'] = pd.to_datetime(df_user['time']).values
    df_user.sort_values(by='time',inplace = True)
    df_user.reset_index(drop = False, inplace = True)
    for i in range(len(df_user)):
        if i == 0:
            df_user.iloc[i,3] = 1
            df_data.loc[df_user['index'].values[i], 'sessionNumber'] = 1
            continue
        else:
            cure_time = df_user.iloc[i,2]
            previ_time = df_user.iloc[i-1,2]
            timedelta = cure_time - previ_time
            if (timedelta.total_seconds())/60 > 30:
                count += 1
                df_user.iloc[i,3] = count
                df_data.loc[df_user['index'].values[i], 'sessionNumber'] = count
            else:
                df_user.iloc[i,3] = count
                df_data.loc[df_user['index'].values[i], 'sessionNumber'] = count

In [10]:
session_nos = list(set(df_data['sessionNumber'].values))

# There are users with just promotion as their activity. No further activity available in the dataset. Let's remove such users

In [11]:
users = list(set(df_data['userID'].values))
users_oneactivity = []
for user in users:
    df_user = df_data[df_data['userID'] == user]
    events = list(set(df_user['event'].values))
    events_promotion = [i for i in events if 'promotion' not in i]
    if 0 == len(events_promotion):
        users_oneactivity.append(user)
df_data = df_data[~df_data['userID'].isin(users_oneactivity)]
df_data.reset_index(drop = True, inplace = True)

In [12]:
users = [user for user in users if user not in users_oneactivity]

# Store metrics for a given user, such as no. of sessions, session_no etc

In [13]:
#This will store all session numbers for a user
users = list(set(df_data['userID'].values))
users_sessions = {}
for user in users:
    df_user = df_data[df_data['userID'] == user]
    sessions = list(set(df_user['sessionNumber'].values))
    users_sessions[user] = sessions
    
users_session_df = pd.DataFrame(columns= ['users', 'sessions'])
users_session_df['users'] = list(users_sessions.keys())
users_session_df['sessions'] = list(users_sessions.values())
users_session_df['no_sessions'] = users_session_df['sessions'].apply(lambda x: len(x))
users_session_df.to_csv("Users_Session_Info.csv")

In [14]:
#This recursive function will count the number of consecutive classifies in a given series
def classify_counts(list_1,index, count):
    if index < len(list_1):
        if 'classify' in list_1[index]:
            return classify_counts(list_1, index+1, count + 1)
        else:
            return count
    else:
        return count

# Create a new Dataframe with each userID as the index and all activies in a single row

In [15]:
users = list(set(df_data['userID'].values))
max_activity = 0
for user in users:
    df_temp_ = df_data[df_data['userID'] == user]
    if max_activity < len(df_temp_):
        max_activity = len(df_temp_)
max_sequence_length = max_activity + 1862

In [16]:
columns = []
for i in range(max_sequence_length):
    columns.append(i+1)
df_sequence = pd.DataFrame(data = np.zeros((len(users),max_sequence_length),dtype = np.int8),columns = columns)
df_sequence.head()

,1,2,3,4,5,6,7,8,9,10,...,25802,25803,25804,25805,25806,25807,25808,25809,25810,25811
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df_sequence['users'] = users
df_sequence.set_index('users', inplace=True)
df_sequence.head()

,1,2,3,4,5,6,7,8,9,10,...,25802,25803,25804,25805,25806,25807,25808,25809,25810,25811
users,,,,,,,,,,,,,,,,,,,,,
425986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1531906,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1531912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
def classify_counts(list_1,index, count):
    if index < len(list_1):
        if 'classify' in list_1[index]:
            return classify_counts(list_1, index+1, count + 1)
        else:
            return count
    else:
        return count

In [19]:
def reset_classify(x):
    if 'classify ' in x:
        return 'classify'
    elif ' classify' in x:
        return 'classify'
    else:
        return x

In [20]:
def more_changes(activity):
    if (('logout' in activity) or ('login' in activity) or ('discussiontime' in activity) or ('changeprojectsidebar' in activity) or ('closefieldguide' in activity) or ('coursecomplete' in activity) or ('footermenu' in activity) or ('tutorialcomplete' in activity)):
        return 'remove'
    elif (('breadcrumb' in activity) or ('globemenu' in activity)):
        return 'exploring'
    elif ('message' in activity):
        return 'socialize'
    else:
        return activity

In [21]:
df_data['event'] = df_data['event'].apply(lambda x: reset_classify(x))
df_data['event'] = df_data['event'].apply(lambda x: more_changes(x))
df_data = df_data[df_data['event'] != 'remove']
df_data['time'] = pd.to_datetime(df_data['time']).values

In [22]:
for user in users:
    wanted_sessions = users_sessions[user]
    df_user = df_data[df_data['userID'] == user].copy()
    #df_user['time'] = pd.to_datetime(df_user['time']).values
    df_user = df_user.reset_index().sort_values(by = ["time","index"]).drop("index", axis = 1).reset_index(drop = True)
    events = []
    rows = 0
    for key in wanted_sessions:
        df_data_temp = df_user[df_user['sessionNumber'] == key].copy()
        #df_data_temp['time'] = pd.to_datetime(df_data_temp['time']).values
        #df_data_temp.sort_values(by = 'time', inplace = True)
        df_data_temp.reset_index(drop = False, inplace = True)
        len_df = df_data_temp.shape[0]
        first, last = False, False
        replace_first, replace_last, replace_mid = False, False, False
        if len(df_data_temp) != 0:
            length = -10
            break_point = 0
            skip_flag = False
            for i in range(len(df_data_temp['event'].values)):
                if (('classify' in df_data_temp['event'].values[i])  and (skip_flag == False)):
                    first, last = False, False
                    replace_first, replace_last, replace_mid = False, False, False
                    break_point = i
                    if (break_point == 0):
                        first = True
                    elif break_point == len_df-1:
                        last = True
                    length = classify_counts(df_data_temp['event'].values, i, 0)
                    previous_time_stamp, current_time_stamp, last_time_stamp1, last_time_stamp2 = 0,0,0,0
                    if (first != True and last != True):
                        previous_time_stamp = df_data_temp.iloc[i-1,2]
                        current_time_stamp = df_data_temp.iloc[i,2]
                        last_time_stamp1 = df_data_temp.iloc[i+length-1,2]
                        if (i + length == len_df):
                            last_time_stamp2 = last_time_stamp1
                        else:
                            last_time_stamp2 = df_data_temp.iloc[i+length,2]
                        if((current_time_stamp == previous_time_stamp) and (last_time_stamp1 == last_time_stamp2)):
                            replace_mid = True
                        elif((current_time_stamp != previous_time_stamp) and (last_time_stamp1 == last_time_stamp2)):
                            replace_first = True
                        elif((current_time_stamp == previous_time_stamp) and (last_time_stamp1 != last_time_stamp2)):
                            replace_last = True
                        elif((current_time_stamp != previous_time_stamp) and (last_time_stamp1 != last_time_stamp2)):
                            replace_first = True
                    elif (first == True):
                        if (i+length == len_df):
                            replace_last = True
                        else:
                            #print(i, length, df_data_temp.shape[0])
                            last_time_stamp1 = df_data_temp.iloc[i+length-1,2]
                            last_time_stamp2 = df_data_temp.iloc[i+length,2]
                            if (last_time_stamp1 == last_time_stamp2):
                                replace_first = True
                            else:
                                replace_last = True
                    skip_flag = True
                    #print('Status: i,replace_first, replace_last, replace_mid,length,skip_flag, first, last, previous_time_stamp, current_time_stamp, last_time_stamp1, last_time_stamp2 ', rows+i,replace_first, replace_last, replace_mid,length,skip_flag, first, last, previous_time_stamp, current_time_stamp, last_time_stamp1, last_time_stamp2)
                    if (length == 1 or replace_first == True):
                        #print("Updating first element: ")
                        if ((3 < length) and (length < 17)):
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_mid'
                            skip_flag = True

                        elif (length > 16):
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_high'
                            skip_flag = True
                        else:
                            if (length == 1):
                                df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_low'
                                skip_flag = False
                            else:
                                df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_low'
                                skip_flag = True
                    #print("Skip FLag after update first: ", skip_flag)
                    continue
                elif (skip_flag == True):
                    #print("i and skip flag in elif loop: ",rows+i, skip_flag)
                    if ( replace_mid == True and i < break_point+ int(length/2) -1):
                        continue
                    elif (replace_mid == True and i == break_point + int(length/2)):
                        if ((3 < length) and (length < 17)):
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_mid'
                        elif (length > 16):
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_high'
                        else:
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_low'
                        if (length == 2):
                            skip_flag = False
                        else:
                            skip_flag = True
                        continue
                    elif ( replace_last == True and i < break_point+length -1):
                        continue
                    elif (replace_last == True and i == break_point + length -1):
                        if ((3 < length) and (length < 17)):
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_mid'

                        elif (length > 16):
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_high'

                        else:
                            df_user.loc[df_data_temp['index'].values[i],'event'] = 'classify_low'
                        skip_flag = False
                        continue
                    elif (i == break_point + length -1):
                        #print("Value at Index row is ",df_data_temp['event'][i])
                        skip_flag = False
                        continue
            rows+=(i+1)
#     df_user['time'] = pd.to_datetime(df_user['time']).values
     #df_user = df_user.sort_values('time')
    df_user = df_user.reset_index().sort_values(by = "index")
    df_user = df_user[df_user['event'] != 'classify']
    df_user = df_user.reset_index(drop = True)
    events = []
    sessions_user = list(set(df_user['sessionNumber'].values))
    sessions_user = sorted(sessions_user, reverse = False)
    for session in wanted_sessions:
        df_user_session = df_user[df_user['sessionNumber'] == session]
#         df_user_session['time'] = pd.to_datetime(df_user_session['time']).values
#         df_user_session.sort_values(by='time',inplace = True)
        events = events +  list(df_user_session['event'].values) + ['EOS']
    if events != []:
        df_sequence.loc[user,1:len(events)] = events

In [23]:
df_sequence

,1,2,3,4,5,6,7,8,9,10,...,25802,25803,25804,25805,25806,25807,25808,25809,25810,25811
users,,,,,,,,,,,,,,,,,,,,,
425986,classify_high,viewdiscussions,classify_high,personal,EOS,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1531906,classify_low,communal,EOS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,classify_mid,communal,EOS,personal,EOS,communal,communal,personal,EOS,classify_low,...,0,0,0,0,0,0,0,0,0,0
7,exploring,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1531912,classify_mid,promotion_level_2,classify_mid,communal,EOS,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540078,classify_mid,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1482740,classify_mid,exploring,classify_high,promotion_level_2,classify_high,EOS,classify_high,promotion_level_3,classify_high,EOS,...,0,0,0,0,0,0,0,0,0,0
1482741,learning,classify_mid,learning,EOS,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
712695,classify_high,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1482749,classify_low,promotion_level_w,classify_low,viewdiscussions,communal,classify_low,viewdiscussions,classify_low,communal,viewdiscussions,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df_experiment = df_data[df_data['event'].isin(['promotion_level_A', "promotion_level_w","promotion_level_B", "experimentStart"])]
users_experiment = set(df_experiment['userID'].values)

In [25]:
df_sequence = df_sequence.loc[set(df_sequence.index) - users_experiment,]

In [26]:
df_sequence = df_sequence.drop(1507994)
df_sequence = df_sequence.drop(1507997)
df_sequence = df_sequence.drop(1509927)
df_sequence = df_sequence.drop(1106)
df_sequence = df_sequence.drop(465181)
df_sequence = df_sequence.drop(1432829)
df_sequence = df_sequence.drop(1498643)
df_sequence = df_sequence.drop(1484814)
df_sequence = df_sequence.drop(44989)
df_sequence = df_sequence.drop(450605)
df_sequence = df_sequence.drop(4578)
df_sequence = df_sequence.drop(701454)
df_sequence = df_sequence.drop(46993)

In [27]:
df_sequence

,1,2,3,4,5,6,7,8,9,10,...,25802,25803,25804,25805,25806,25807,25808,25809,25810,25811
users,,,,,,,,,,,,,,,,,,,,,
425986,classify_high,viewdiscussions,classify_high,personal,EOS,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,classify_mid,communal,EOS,personal,EOS,communal,communal,personal,EOS,classify_low,...,0,0,0,0,0,0,0,0,0,0
7,exploring,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1540105,classify_low,communal,classify_mid,EOS,classify_low,promotion_level_2,classify_high,communal,classify_high,promotion_level_3,...,0,0,0,0,0,0,0,0,0,0
1540107,communal,communal,classify_low,learning,classify_low,learning,classify_low,learning,classify_low,learning,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048522,classify_mid,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1523669,classify_low,learning,classify_low,EOS,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1474535,classify_low,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1540078,classify_mid,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1540087,classify_mid,EOS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df_sequence.to_csv("FinalSequence_17Feb.csv")